In [39]:
import pandas as pd

In [ ]:


g_df1 = spark.read.csv('data/all-the-news/articles1.csv')
g_df2 = spark.read.csv('data/all-the-news/articles2.csv')
g_df3 = spark.read.csv('data/all-the-news/articles3.csv')

In [2]:
with open('data/all-the-news/articles1.csv') as f1:
    lines1 = f1.readlines()
with open('data/all-the-news/articles2.csv') as f2:
    lines2 = f2.readlines()
with open('data/all-the-news/articles3.csv') as f3:
    lines3 = f3.readlines()

50008

In [28]:
out1=lines1[:40000]
tmp=[lines1[0]]
out2=tmp+lines1[40000:]

out3=lines2[:40000]
tmp=[lines2[0]]
out4=tmp+lines2[40000:]

out5=lines3[:40000]
tmp=[lines3[0]]
out6=tmp+lines3[40000:]

In [37]:
out_file_1 = open('data/all-the-news-small-files/small_articles1.csv', 'w')
out_file_2 = open('data/all-the-news-small-files/small_articles2.csv', 'w')
out_file_3 = open('data/all-the-news-small-files/small_articles3.csv', 'w')
out_file_4 = open('data/all-the-news-small-files/small_articles4.csv', 'w')
out_file_5 = open('data/all-the-news-small-files/small_articles5.csv', 'w')
out_file_6 = open('data/all-the-news-small-files/small_articles6.csv', 'w')

for line in out1:
  out_file_1.write(line)
  if len(line)
for line in out2:
  out_file_2.write(line)
for line in out3:
  out_file_3.write(line)
for line in out4:
  out_file_4.write(line)
for line in out5:
  out_file_5.write(line)
for line in out6:
  out_file_6.write(line)

In [84]:
line_lengths = []
for line in out1:
    line_lengths.append(len(line))

In [85]:
df_test=pd.DataFrame(line_lengths)

In [86]:
df_test.head()

       0
0     57
1   5749
2  28005
3  14167
4  12411

In [97]:
s=df_test[0]<1000
s.sum()

2486

In [56]:
df1.head()

,id,title,publication,author,date,year,month,url,content
0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [81]:
df1 = pd.read_csv('data/all-the-news-small-files/small_articles1.csv')

In [82]:
df1.shape

(39505, 10)

In [60]:
df1.id.max()

59860

In [62]:
df2 = pd.read_csv('data/all-the-news-small-files/small_articles2.csv',index_col=0)

In [63]:
df2.shape

(9948, 9)

In [65]:
df2.id.min()

60569

In [66]:
df2.id.max()

73394

In [74]:
df3 = pd.read_csv('data/all-the-news-small-files/small_articles3.csv')

In [75]:
df3.shape

(23115, 10)

In [71]:
df3.id.min()

73471

In [72]:
df3.id.max()

116772

In [78]:
df3.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,53293,73471,Patriots Day Is Best When It Digs Past the Her...,Atlantic,David Sims,2017-01-11,2017.0,1.0,NaN,"Patriots Day, Peter Berg’s new thriller that r..."
1,53294,73472,A Break in the Search for the Origin of Comple...,Atlantic,Ed Yong,2017-01-11,2017.0,1.0,NaN,"In Norse mythology, humans and our world were ..."
2,53295,73474,Obama’s Ingenious Mention of Atticus Finch,Atlantic,Spencer Kornhaber,2017-01-11,2017.0,1.0,NaN,“If our democracy is to work in this increasin...
3,53296,73475,"Donald Trump Meets, and Assails, the Press",Atlantic,David A. Graham,2017-01-11,2017.0,1.0,NaN,Updated on January 11 at 5:05 p. m. In his fir...
4,53297,73476,Trump: ’I Think’ Hacking Was Russian,Atlantic,Kaveh Waddell,2017-01-11,2017.0,1.0,NaN,Updated at 12:25 p. m. After months of equivoc...